@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

$SoftRed:hsl(0, 93%, 68%);
$DarkGrayishRed:hsl(0, 6%, 24%);
$DesaturatedRed:hsl(0, 36%, 70%);

$GradientA_From:hsl(0, 0%, 100%);
$GradientA_To:hsl(0, 100%, 98%);

$GradientB_From:hsl(0, 80%, 86%);
$GradientB_To:hsl(0, 74%, 74%);

$FontLight:300;
$FontMedium:400;
$FontHeavy:600;

$MinBreakPointValue:701px;